#rain {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

body {
	background-image: url("../images/misty_forest_night.jpeg");
	background-size: cover;
	height: 100%;
	background-repeat: no-repeat;
}

.rainCanvas, .flashDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
}

.flashing {
    animation: flashAnim ease-out 1s;
}

@keyframes flashAnim {
    0% { background: transparent; }
    55% { background: rgba(254, 255, 202, 0.27); }
    60% { background: transparent; }
    75% { background: rgba(254, 255, 202, 0.27); }
    80% { background: transparent; }
    95% { background: rgba(254, 255, 202, 0.27); }
    100% { background: transparent; }
}
